header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 300ms ease-in-out;
    padding: 20px 0px;
    background-color: map-get($colors, color-bg);;
}

main {
    width: 90%;
    margin: 0 90px;
    margin-top: 150px;
}