.cartWidget {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    .btnCart {
        background: none;
        position: relative;
        border: none;
        cursor: pointer;
        transition: all .2s ease;
    }
    .pCart {
        position: absolute;
        color: map-get($colors, color-text);
        font-size: 10px;
        font-weight: bold;
        font-family: map-get($family, fontText);
    }
}
