.menuVertical {
    li {
        padding: 8px;
        margin-top: 5px;
        text-align: center;
        transition: all .1s ;
        a {
            font-size: 12px;
            &:hover {
                color: map-get($colors, color-secondary);
            }
        }
        &:hover {
            background-color: map-get($colors, color-bg-offset);
            border-radius: 50px;
        }
    }
}
