.itemListContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.flip-card {
    display: grid;
    justify-self: center;
    width: 300px;
    height: 350px;
    
}
.flip-card-inner {
    background-color: map-get($colors, color-primary-offset);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 16px;
    font-family: map-get($family, fontText); 
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}
.flip-card-front {
    background-color: map-get($colors, color-primary-offset);
}

.flip-card-front img{
    width: 140px;
    
}

.flip-card-back {
    background-color: map-get($colors, color-primary-offset);
    color: map-get($colors, color-text);
    transform: rotateY(180deg);
}
.flip-card-back img{
    width: 140px;
}

.flip-card-back h2 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
}
.flip-card-back h3 {
    font-size: 12px;
    margin-bottom: 10px;
}

.buttonProducto {
    border: none;
    border-radius: 16px;
    background-color: map-get($colors, color-btn);
    padding: 5px 10px;
    a {
        color: map-get($colors, color-text);
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .itemListContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .itemListContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}