
$colors: (
    color-bg: #fafbf5,
    color-bg-offset: #f2ede9,
    color-text: #41474C,
    color-text-offset: #757D84,
    color-border: #e8e0d9,
    color-primary: #99C221,
    color-primary-offset: #6E910A,
    color-secondary: #E55812,
);

$family: (
    fontFamily1: 'Josefin Sans',
    fontFamily2: 'PT Serif'
);