$colors: (
    color-bg: #fafbf5,
    color-bg-offset: #f2ede9,
    color-text: #41474C,
    color-text-offset: #757D84,
    color-border: #e8e0d9,
    color-primary-offset: #90b7d6,
);

$family: (
    fontText: 'Quicksand',
    fontTitle: 'Bodoni Moda'
);