$colors: (
    color-bg: #fafbf5,
    color-bg-offset: #f2ede9,
    color-text: #41474C,
    color-text-offset: #757D84,
    color-border: #e8e0d9,
    color-primary: #EEEEEE,
    color-btn: #dbd4d4,

    color-bg-dark: #0e141b,
    color-bg-offset-dark: #252526,
    color-text-dark: #ffffff,
    color-text-offset-dark: #818a91,
    color-border-dark: #2d2d2d,
    color-primary-dark: #EEEEEE,
    color-btn-dark: #757D84
);

$family: (
    fontText: 'Quicksand',
    fontTitle: 'Bodoni Moda'
);