header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 300ms ease-in-out;
    .navbar {
        background-color: map-get($colors, color-bg);
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        transition: all .1s;
        z-index: 1000;
        .logo {
            display: flex;
            align-items: center;
            span {
                margin: 10px;
                color: map-get($colors, color-text);
                font-family: map-get($family, fontTitle);
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 2px;
            }
        }
        .secciones{
            padding: 0;
            display: flex;
            justify-content: right;
            align-items: center;
            .links {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    padding: 0 10px;
                    a {
                        text-decoration: none;
                        color: map-get($colors, color-text);
                        font-family: map-get($family, fontText);
                        font-weight: 500;
                        font-size: 12px;
                        transition: all .2s ease;
                        letter-spacing: 2px;
                        &:hover {
                            color: map-get($colors, color-primary-offset);
                        }
                    }
                }
                
            }
        }
    }
   
}

.scroll-down header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up header {
    background-color: #fef6e422;
    box-shadow: 0 8px 32px 0 rgba(73, 73, 73, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 7px );
}

/* 
@media screen and (max-width: 700px) {
     
}
 */
