/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,700;1,6..96,400&display=swap");
/*Partials*/
header .navbar .secciones {
  display: flex;
  justify-content: right;
}

header .navbar {
  display: flex;
  justify-content: space-between;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease;
}
header .navbar {
  padding: 10px 30px;
  transition: all 0.1s;
  z-index: 1000;
}
header .navbar .logo {
  display: flex;
  align-items: center;
}
header .navbar .logo span {
  margin: 10px;
  color: #41474C;
  font-family: "Bodoni Moda";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
}
header .navbar .secciones {
  padding: 0;
  align-items: center;
  display: flex;
  gap: 20px;
}
header .navbar .secciones .links {
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
header .navbar .secciones .links li {
  list-style: none;
  position: relative;
}
header .navbar .secciones .links li .aNavbar {
  text-decoration: none;
  color: #41474C;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  transition: all 0.2s ease;
  letter-spacing: 2px;
}
header .navbar .secciones .links li .aNavbar:hover {
  color: #757D84;
}
header .navbar .secciones .links .liProducts .contCategory {
  display: none;
  position: absolute;
  left: 0;
}
header .navbar .secciones .links .liProducts .contCategory .categorias {
  padding: 5px 12px;
  background-color: #fafbf5;
  box-shadow: 0 8px 32px 0 rgba(73, 73, 73, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
}
header .navbar .secciones .links .liProducts .contCategory .categorias li {
  line-height: 1.2;
}
header .navbar .secciones .links .liProducts .contCategory .categorias li .aCateg {
  text-decoration: none;
  font-family: "Quicksand";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #41474C;
}
header .navbar .secciones .links .liProducts .contCategory .categorias li .aCateg:hover {
  color: #757D84;
}
header .navbar .secciones .links .liProducts:hover .contCategory {
  display: block;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  background-color: rgba(254, 246, 228, 0.1333333333);
  box-shadow: 0 8px 32px 0 rgba(73, 73, 73, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
}

/* 
@media screen and (max-width: 700px) {

}
 */
.cartWidget {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartWidget .btnCart {
  background: none;
  position: relative;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.cartWidget .pCart {
  position: absolute;
  color: #41474C;
  font-size: 10px;
  font-weight: bold;
  font-family: "Quicksand";
}

.itemListContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.flip-card {
  display: grid;
  justify-self: center;
  width: 300px;
  height: 350px;
}

.flip-card-inner {
  background-color: #EEEEEE;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 16px;
  box-shadow: 5px 5px 15px #c3c4bf;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}

.flip-card-front {
  background-color: #EEEEEE;
}

.flip-card-front img {
  width: 200px;
}

.flip-card-back {
  background-color: #EEEEEE;
  color: #41474C;
  transform: rotateY(180deg);
  font-family: "Quicksand";
}

.flip-card-back img {
  width: 140px;
}

.flip-card-back h2 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.flip-card-back h3 {
  font-size: 12px;
  margin-bottom: 10px;
}

.buttonProducto {
  border: none;
  border-radius: 16px;
  padding: 5px 10px;
  transition: all 0.2s ease-in;
  color: #41474C;
  text-decoration: none;
  font-family: "Quicksand";
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(145deg, #eae3e3, #c5bfbf);
  box-shadow: -5px -5px 20px #cbcbc6, 5px 5px 20px #ffffff;
  color: #41474C;
  transition: all 0.1s ease-in-out;
}
.buttonProducto:focus, .buttonProducto:hover {
  background: linear-gradient(145deg, #ece6e6, #e1dcdc);
  box-shadow: -2px -2px 5px #cbcbc6, 2px 2px 5px #ffffff;
}
.buttonProducto:active {
  box-shadow: inset 1px 1px 2px #cbcbc6, inset -1px -1px 2px #ffffff;
}

@media (max-width: 768px) {
  .itemListContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .itemListContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
.itemContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 90px;
  padding: 50px;
  border-radius: 26px;
  background: linear-gradient(145deg, #fffef9, #dad5d2);
  box-shadow: 5px 5px 15px #c3c4bf, -5px -5px 15px #ffffff;
}
.itemContainer .imgDetail {
  padding: 10px;
}
.itemContainer .imgDetail img {
  width: 300px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(195, 196, 191, 0.4117647059), -2px -2px 15px rgba(213, 214, 208, 0.4117647059);
}
.itemContainer .productDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #41474C;
  padding: 10px;
  line-height: 1.6;
}
.itemContainer .productDetail .detProduct h2 {
  font-family: "Bodoni Moda";
  text-transform: uppercase;
  font-size: 30px;
}
.itemContainer .productDetail .detProduct h3 {
  font-family: "Bodoni Moda";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.itemContainer .productDetail .detProduct p {
  margin-top: 10px;
  font-family: "Quicksand";
  font-size: 13px;
}
.itemContainer .productDetail .detCarrito h4 {
  font-family: "Quicksand";
  font-size: 20px;
  margin-bottom: 10px;
}
.itemContainer .productDetail .detCarrito .itemCountDetil .btnCount button {
  border: none;
  border-radius: 5px;
  font-family: "Quicksand";
  font-size: 15px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  color: #41474C;
  background: linear-gradient(145deg, #eae3e3, #c5bfbf);
  box-shadow: -5px -5px 20px #cbcbc6, 5px 5px 20px #ffffff;
  transition: all 0.1s ease-in-out;
}
.itemContainer .productDetail .detCarrito .itemCountDetil .btnCount button:focus, .itemContainer .productDetail .detCarrito .itemCountDetil .btnCount button:hover {
  background: linear-gradient(145deg, #ece6e6, #e1dcdc);
  box-shadow: -2px -2px 5px #cbcbc6, 2px 2px 5px #ffffff;
}
.itemContainer .productDetail .detCarrito .itemCountDetil .btnCount button:active {
  box-shadow: inset 1px 1px 2px #cbcbc6, inset -1px -1px 2px #ffffff;
}
.itemContainer .productDetail .detCarrito .itemCountDetil .btnCount .btnC-resta {
  margin-right: 20px;
}
.itemContainer .productDetail .detCarrito .itemCountDetil .btnCount .btnC-suma {
  margin-left: 20px;
}
.itemContainer .productDetail .detCarrito .itemCountButton {
  margin-top: 10px;
}

.carrito {
  width: 100%;
  height: 50px;
  font-family: "Quicksand";
  text-align: center;
  border: none;
  border-radius: 50px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  background: linear-gradient(145deg, #eae3e3, #c5bfbf);
  box-shadow: -5px -5px 20px #cbcbc6, 5px 5px 20px #ffffff;
  color: #41474C;
  transition: all 0.1s ease-in-out;
}
.carrito:focus, .carrito:hover {
  background: linear-gradient(145deg, #ece6e6, #e1dcdc);
  box-shadow: -2px -2px 5px #cbcbc6, 2px 2px 5px #ffffff;
}
.carrito:active {
  box-shadow: inset 1px 1px 2px #cbcbc6, inset -1px -1px 2px #ffffff;
}

@media (max-width: 768px) {
  .itemContainer {
    flex-direction: column;
    margin: 90px 20px;
    padding: 50px;
    flex-direction: column;
    box-shadow: 5px 5px 10px #6f6d6b, -5px -5px 10px #ffffff;
  }
  .itemContainer div {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .itemContainer {
    flex-direction: column;
    margin: 90px 12px;
    padding: 50px;
    box-shadow: 5px 5px 10px #6f6d6b, -5px -5px 10px #ffffff;
  }
  .itemContainer div {
    margin-bottom: 20px;
  }
  .itemContainer .imgDetail img {
    width: 250px;
    height: 350px;
  }
}
.formContent {
  display: flex;
  justify-content: center;
  margin: 150px 20px;
}
.formContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 320px;
}
.formContent form label {
  width: 95%;
}
.formContent form label input {
  border: none;
  outline: none;
  border-radius: 50px;
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  width: 100%;
  background: #fafbf5;
  box-shadow: inset 2px 2px 5px #cbcbc6, inset -5px -5px 10px #ffffff;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}
.formContent form label input:focus, .formContent form label input:hover {
  box-shadow: inset 1px 1px 2px #cbcbc6, inset -1px -1px 2px #ffffff;
}
.formContent form label input::-moz-placeholder {
  color: #41474C;
}
.formContent form label input::placeholder {
  color: #41474C;
}
.formContent form .enviarBtn {
  width: 90%;
  cursor: pointer;
  color: #41474C;
  font-weight: 600;
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: -5px -5px 20px #cbcbc6, 5px 5px 20px #ffffff;
  transition: all 0.1s ease-in-out;
}
.formContent form .enviarBtn:focus, .formContent form .enviarBtn:hover {
  box-shadow: -2px -2px 5px #cbcbc6, 2px 2px 5px #ffffff;
}
.formContent form .enviarBtn:active {
  box-shadow: inset 1px 1px 2px #cbcbc6, inset -1px -1px 2px #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cardItem {
  margin: 0 10px;
  padding: 20px;
  border-radius: 26px;
  color: #41474C;
  background: linear-gradient(145deg, #fffef9, #dad5d2);
  box-shadow: 5px 5px 15px #c3c4bf, -5px -5px 15px #ffffff;
}
.cardItem .cardContent {
  padding: 10px;
  display: flex;
}
.cardItem .cardContent img {
  width: 100px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(195, 196, 191, 0.4117647059), -2px -2px 15px rgba(213, 214, 208, 0.4117647059);
}
.cardItem .cardContent .cardText {
  margin-left: 30px;
  line-height: 1.6;
}
.cardItem .cardContent .cardText h2 {
  font-family: "Bodoni Moda";
  text-transform: uppercase;
  font-size: 20px;
}
.cardItem .cardContent .cardText h3 {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 14px;
}
.cardItem .cardContent .cardText p {
  font-family: "Quicksand";
  font-size: 13px;
}

.btnDelete {
  margin-top: 30px;
  color: #757D84;
  font-weight: 500;
  font-family: "Quicksand";
  font-size: 13px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
}

.itemListBefore {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.itemListBefore .cardCompra {
  margin-bottom: 30px;
}
.itemListBefore .cardCompra p {
  font-family: "Quicksand";
  font-size: 20px;
}
.itemListBefore .finCart .c2 {
  margin: 10px 0;
}

.carritoVacio {
  font-family: "Quicksand";
  color: #41474C;
  font-size: 20px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .cardItem {
    margin: 0;
    padding: 20px;
  }
  .itemListBefore {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .cardItem .cardContent {
    flex-direction: column;
    padding: 5px;
  }
  .cardItem .cardContent .cardText {
    margin-top: 20px;
    margin-left: 0px;
  }
}
/*General*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafbf5;
}

#root {
  padding: 150px 40px;
}/*# sourceMappingURL=styles.css.map */