/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,700;1,6..96,400&display=swap");
/*Partials*/
header .navbar .secciones {
  display: flex;
  justify-content: right;
}

header .navbar {
  display: flex;
  justify-content: space-between;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease;
}
header .navbar {
  background-color: #fafbf5;
  padding: 10px 30px;
  transition: all 0.1s;
  z-index: 1000;
}
header .navbar .logo {
  display: flex;
  align-items: center;
}
header .navbar .logo span {
  margin: 10px;
  color: #41474C;
  font-family: "Bodoni Moda";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
}
header .navbar .secciones {
  padding: 0;
  align-items: center;
}
header .navbar .secciones .links {
  display: flex;
  margin: 0;
  padding: 0;
}
header .navbar .secciones .links li {
  list-style: none;
  padding: 0 10px;
}
header .navbar .secciones .links li a {
  text-decoration: none;
  color: #41474C;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  transition: all 0.2s ease;
  letter-spacing: 2px;
}
header .navbar .secciones .links li a:hover {
  color: #EEEEEE;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  background-color: rgba(254, 246, 228, 0.1333333333);
  box-shadow: 0 8px 32px 0 rgba(73, 73, 73, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
}

/* 
@media screen and (max-width: 700px) {

}
 */
main {
  margin-top: 150px;
}

.cartWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.cartWidget .btnCart {
  background: none;
  position: relative;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.cartWidget .pCart {
  position: absolute;
  color: #41474C;
  font-size: 10px;
  font-weight: bold;
  font-family: "Quicksand";
}

.itemListContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.flip-card {
  display: grid;
  justify-self: center;
  width: 300px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  background-color: #EEEEEE;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 16px;
  font-family: "Quicksand";
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}

.flip-card-front {
  background-color: #EEEEEE;
}

.flip-card-front img {
  width: 140px;
}

.flip-card-back {
  background-color: #EEEEEE;
  color: #41474C;
  transform: rotateY(180deg);
}

.flip-card-back img {
  width: 140px;
}

.flip-card-back h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.flip-card-back h3 {
  font-size: 12px;
  margin-bottom: 10px;
}

.buttonProducto {
  border: none;
  border-radius: 16px;
  background-color: #dbd4d4;
  padding: 5px 10px;
  color: #41474C;
  cursor: pointer;
}

@media (max-width: 768px) {
  .itemListContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .itemListContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*General*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafbf5;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  margin: 0;
}/*# sourceMappingURL=styles.css.map */