
.menuVertical li{
    padding: 8px;
    margin-top: 5px;
    text-align: center;
    transition: all .1s ;
}
.menuVertical li a{
    font-size: 12px;
}


.menuVertical li:hover {
   background-color: var(--color-bg-offset);
   border-radius: 50px;
}

.menuVertical li a:hover {
    color: var(--color-secondary);
 }
